multiframework-demo/force-app/main/default/flows/CustomerSuccessHighlightFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>Gathers Project and TokenUsage data for a single project, then calls the opportunityInsightsFreeform prompt template to generate a customer success highlight.</description>
    <interviewLabel>Customer Success Highlight Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Success Highlight Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCustomerSuccessData</targetReference>
        </connector>
    </start>
    <status>Active</status>

    <!-- Step 1: Call GetCustomerSuccessDataAction to build prompt + context -->
    <actionCalls>
        <name>GetCustomerSuccessData</name>
        <label>Get Customer Success Data</label>
        <locationX>200</locationX>
        <locationY>50</locationY>
        <actionName>GetCustomerSuccessDataAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GenerateHighlight</targetReference>
        </connector>
        <inputParameters>
            <name>projectId</name>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>promptString</assignToReference>
            <name>promptString</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>contextJson</assignToReference>
            <name>contextJson</name>
        </outputParameters>
    </actionCalls>

    <!-- Step 2: Call opportunityInsightsFreeform prompt template -->
    <actionCalls>
        <name>GenerateHighlight</name>
        <label>Generate Highlight</label>
        <locationX>400</locationX>
        <locationY>50</locationY>
        <actionName>opportunityInsightsFreeform</actionName>
        <actionType>generatePromptResponse</actionType>
        <inputParameters>
            <name>Input:prompt</name>
            <value>
                <elementReference>promptString</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>aiResponse</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>

    <!-- Variables — all declared together -->
    <variables>
        <name>projectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>promptString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contextJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>aiResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>

</Flow>
